<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
<servlet-name>Servlets</servlet-name>
<servlet-class>Servlets</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Servlets</servlet-name>
<url-pattern>/servlet</url-pattern>
</servlet-mapping>

</web-app>
